<table [formGroup]="myForm">
  <tr>
    <td>Title</td>
    <td><input type="text " formControlName="title" /></td>
  </tr>
  <tr>
    <td>Body</td>
    <td>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        formControlName="body"
      ></textarea>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="sendData()">Submit</button></td>
  </tr>
</table>

<div class="container">
  <div>
    <ul>
      <li *ngFor="let post of data">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>CREATED BY {{ post.userId }}</p>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li *ngFor="let item of imgUrl"><img [src]="item" alt="" /></li>
    </ul>
  </div>
</div>
